doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet',href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
  body.container-fluid
    div.alert.alert-danger
      .row
        .col-12
          h1 Something went wrong!
          p #{error}
    
